/* Casita Antanona*/
@font-face {
    font-family: glowworm;
    src: url("../font/GLOWWORM2.ttf");
}


@media screen and (min-width: 40.5em) {
  .product-img {
    width: 50%;
    float: left;
  }
}


html, body {
        position: relative;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-y:scroll;

    }
    body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 2vh;
  		background: white;       
        sbackground-size: 100% 100%;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        opacity: 0.9;

    }


    .swiper-slide {
    	/*overflow: auto;*/
    	padding: 3vw;
        text-align: justify;
        font-size: 14px;
        background: #fff;
        /* Center slide text vertically */
        /*display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;*/

        display: block;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


#pagination{
bottom:0px;
position:fixed;


}

h1 {
    text-align: center;
}

.Banner {
  font-family: glowworm;
	display: block;
	background-color: #AAA;
	color: #AAA;
  position:fixed;
  z-index: 1;
  width:100%;
    text-align: center;
top:0;
left:0;
}

#textHeader{
    position: absolute;
    top: 50%; left: 60%;
    transform: translate(-50%,-50%);
    font-size:4vh;
    color:white;
   

}

.Logo{
	
    max-height: 15vh;
    width:auto;
    
}



.Container_1 {
	margin:0vw; 
	height:100%;
	display: block;
	position: relative; 
	opacity: 0.7;
	background: #FFF;
	}

.footer {

background: #AAA;


position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
   background:#999;


}

/* Style the Image Used to Trigger the Modal */
.theme{
background: #000; 


}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}



/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}



.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
/*@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}*/


p {
	clear:both;
	display: block;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 25vw 2vw 0vw 2vw;
  top: 200;
  left:0;
  right:0;
  bottom: 0;
  width: auto;
  height: auto;
  /*overflow: auto;*/
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative; /*prev relative*/
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: auto;

  max-width: 600px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


.min-image {
width:20vw; 
height: :10vw;

}

.scrollable-photos {
overflow:scroll;

}

.color-white{
color:white;


}
.scrollarea-invalid {
/*overflow: scroll;*/
overflow: auto;
max-height: 100vh;

}

.centered{
position: relative;
margin:2vw;
/*top: 50%;*/
/*transform: translateY(-50%); */
}

hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

